[Desktop Entry]
Type=Application
Version=1.0
Name=SSCL
GenericName=SSH Terminal
Comment=Open and remember SSH connections
Exec=sscl
Icon=sscl
Terminal=false
Categories=System;TerminalEmulator;Network;
Keywords=ssh;terminal;shell;remote;console;
StartupNotify=true
StartupWMClass=sscl
